<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-brand">About Myself</div>
    <div class="container-fluid " >
     
      <ul class="navbar-nav me-auto header">
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">My details </a>
        </li>
        <li class="nav-item">
          <a routerLink="/core" routerLinkActive="active" class="nav-link">Qualifications</a>
        </li>
        <li class="nav-item">
          <a routerLink="/posts" routerLinkActive="active" class="nav-link">Skills</a>
        </li>
        <li class="nav-item">
          <a routerLink="/articles" routerLinkActive="active" class="nav-link">My Achievements</a>
        </li>
       
        
      </ul>
    </div>
  </nav>